# Environment variables
.env*
!.env.example

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
*~
*.swp

# Node modules
**/node_modules

# Python cache / venv
**/__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
dist/
build/

# Docker
docker-data/

# Other
/coverage
.pytest_cache/
