__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*,cover
*.log
*.pot
*.py[cod]
*.egg-info/
.DS_Store
dist/
build/
*.egg
.env
!.env.example
.env*
!.env.example
